/* scroll bar hide using this class */
.scroller::-webkit-scrollbar {
    display: none;
}

/* active link or page hillited with background color  */
.active {
    color: white;
    font-weight: 600;
    background-color: #23242a;
    border-radius: 8px;
}
